.first{
    width: 400px;
    height: 200px;
    background-color: brown;
    margin-top: 100px;
    margin-left: 100px;
    

    border-top-left-radius: 19%;
    border-bottom-right-radius: 19%;

}

.second{
    width: 380px;
    height: 200px; 
    background-color: blue;
    margin-left: 10px;
    
    
    
    border-top-left-radius: 19%;
    border-bottom-right-radius: 19%;
}

.second h1{
    text-align: center;
    color: white;
    font-size: 100px;
    padding: 40px;
}